@{
    var routeValues = (RouteValueDictionary)Model.RouteValues;
    var text = Model.Value;
}
<li>
    <a href="@Url.Action((string)routeValues["action"], routeValues)" aria-label="@T("Page {0}", text)">@text</a>
</li>
